@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aquire';
  src: url('./assets/fonts/Aquire.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AquireLight';
  src: url('./assets/fonts/AquireLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AquireBold';
  src: url('./assets/fonts/AquireBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AlteDin';
  src: url('./assets/fonts/AlteDin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteDinBold';
  src: url('./assets/fonts/AlteDinBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}